.hidden {
    display:none
}

.search-right {
    float: right;
    text-align:center;
    padding-top: 4.3%
}

.search-left {
    float: left;
    width: 80%;
}

#search-table tr {
    cursor:pointer;
}

#model-result-modal .modal-dialog {
    margin-left:5%;
    margin-right:5%;
    width:90%;
}