.hidden {
    display:none
}

.search-right {
    float: right;
    text-align:center;
    padding-top: 4.3%
}

.search-left {
    float: left;
    width: 80%;
}

#search-table tr {
    cursor:pointer;
}